* {
  margin: 0;
}
.header{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray
}
.logo-instagram{
  height: 32px;
  width: 120px;
  object-fit: contain;
}
.avatar-profile{
  margin-right: 10px;
}
.image-post{
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post_text{
  font-weight: normal;
  padding:20px;
}
.post_header{
  display: flex;
  align-items: center;
  padding: 15px 7px;
}
.post{
  max-width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.app{
  background-color: #fafafa;
}